 <head>
    

    <title>Navbar Template for Bootstrap</title>

  </head>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Devcamp</a>
      <a href="#">home</a>
      <a href="#">Library</a>
      <a href="#">instructor</a>
      <%= link_to "calender", pages_calendar_path %>
    </div>
    <div class="navbar-right">
      <%= link_to "logout", destroy_user_session_path %> 
    </div>
  </div>
</nav>