<div class="container title-heading">
  <h1>TUTOR SCHEDULING</h1>
  <h5>Select a TA to see their available times</h5>
</div>

<div class="container">
  <div class="row">
		<main class="col-md-12" role="main">

			<section class="row text-center placeholders">
			  <div class="col-6 col-sm-2 placeholder">
			    <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="100" height="100" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
			    <h4>Label</h4>
			    <span="text-muted">Something else</span>
			  </div>
			  <div class="col-6 col-sm-2 placeholder">
			    <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="100" height="100" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
			    <h4>Label</h4>
			    <span class="text-muted">Something else</span>
			  </div>
			  <div class="col-6 col-sm-2 placeholder">
			    <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="100" height="100" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
			    <h4>Label</h4>
			    <span class="text-muted">Something else</span>
			  </div>
			  <div class="col-6 col-sm-2 placeholder">
			    <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="100" height="100" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
			    <h4>Label</h4>
			    <span class="text-muted">Something else</span>
			  </div>
			  <div class="col-6 col-sm-2 placeholder">
			    <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="100" height="100" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
			    <h4>Label</h4>
			    <span class="text-muted">Something else</span>
			  </div>
			  <div class="col-6 col-sm-2 placeholder">
			    <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="100" height="100" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
			    <h4>Label</h4>
			    <span class="text-muted">Something else</span>
			  </div>
			</section>
      

     
			<h2>Calendar</h2>
				<div class="table-responsive">
				  <p>Insert calendar here</p>
				</div>
		</main>
	</div>
</div>
