<div class="container title-heading">
  <p>TUTOR SCHEDULING</p>
  <p class="subheading">Select a TA to see their available times</p>
</div>

<div class="container ta-row">
  <div class="row">
		<main class="col-md-12" role="main">
			<section class="row text-center placeholders">
			  <div class="col-6 col-sm-2 placeholder ta-thumbnail">
			    <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="100" height="100" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
			    <p>Jordan</p>
			  </div>
			  <div class="col-6 col-sm-2 placeholder ta-thumbnail">
			    <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="100" height="100" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
			    <p>Jordan</p>
			  </div>
			  <div class="col-6 col-sm-2 placeholder ta-thumbnail">
			    <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="100" height="100" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
			    <p>Jordan</p>
			  </div>
			  <div class="col-6 col-sm-2 placeholder ta-thumbnail">
			    <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="100" height="100" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
			    <p>Jordan</p>
			  </div>
			  <div class="col-6 col-sm-2 placeholder ta-thumbnail">
			    <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="100" height="100" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
			    <p>Jordan</p>
			  </div>
			  <div class="col-6 col-sm-2 placeholder ta-thumbnail">
			    <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="100" height="100" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
			    <p>Jordan</p>
			  </div>
			</section>
		</main>
	</div>
</div>

<div class="container ta-calendar">
	<div class="date-nav">
		
	</div>
	<div class="col-md-2 buttons">
		<button type="button" class="btn btn-outline-success btn-block time-buttons">9:00 am</button>
		<button type="button" class="btn btn-outline-success btn-block time-buttons">10:00 am</button>
		<button type="button" class="btn btn-outline-success btn-block time-buttons">11:00 am</button>
		<button type="button" class="btn btn-outline-success btn-block time-buttons">12:00 pm</button>
		<button type="button" class="btn btn-outline-success btn-block time-buttons">1:00 pm</button>
		<button type="button" class="btn btn-outline-success btn-block time-buttons">2:00 pm</button>
		<button type="button" class="btn btn-outline-success btn-block time-buttons">3:00 pm</button>
		<button type="button" class="btn btn-outline-success btn-block time-buttons">4:00 pm</button>
	</div>
</div>
