
<div class="container">
    
  <h1 class="title-heading confirm-heading">CONFIRM APPOINTMENT</h1>
  <p class="subheading confirm-heading">Selected TA: MAGIC HAPPENDS HERE</p>
  <p class="subheading confirm-heading">Meeting date: MAGIC</p>
  <p class="subheading confirm-heading">Meeting time: RIGHT NOW</p>
  <%= form_for(@reservation_detail) do |f| %>
    <div class="form-group">
      <p>Subject</p>
      <%= f.text_field :title, class: 'form-control', placeholder: "i.e. Need help setting up database" %>
    </div>

    <div class="form-group">
      <p>Notes</p>
      <%= f.text_area :body, class: 'form-control note-text-box', rows: 20, placeholder: "Add any additional information..." %>
    </div>

    <div class="form-group button-confirm">
      <%= f.submit "Reserve", class: 'btn btn-success btn-block' %>
    </div>
  <% end %>
</div>
