@import "bootstrap";


.title-heading {
	margin-top: 30px;
	margin-bottom: 50px;
	text-align: center;

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.navbar-nav {
	

}