@import "bootstrap";

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.navbar-nav {
	display: block;
}

.confirm-heading {
	text-align: center;
	
}

.button-confirm {
	margin-left: 40%;
	width: 20%;
}

.form-control {
	width: 56%;
}

.form-group {
	margin-left: 30%;
}

.note-text-box {
	height: 150px;
}

.button-confirm {
	margin-left: 40%;
}

