
@import "bootstrap";


.title-heading {
	margin-top: 30px;
	margin-bottom: 50px;
	text-align: center;
	font-weight: 700;
}

.subheading {
	font-weight: 100;
	color: #c1c1c1;
}

.ta-row {
	background-color: white;
	border-radius: 10px;
	border-style: outset;
	border-color: #fcfcfc;
	margin-bottom: 20px;
}

.ta-thumbnail {
	padding: 25px;
	font-weight: 100;
	color: #c1c1c1;
}

.carousel-dates{
	padding: 25px;
	font-weight: 100;
	color: #c1c1c1;
}

.ta-calendar {
	background-color: white;
	border-radius: 10px;
	border-style: outset;
	border-color: #fcfcfc;
}

.buttons {
  margin: auto;
  
}

.time-buttons {
	padding: 10px;
	margin: 5px;
	
}

.calendar-title {
	text-align: center;
	font-weight: 100;
	color: #c1c1c1;
}



body {
	background-color: #fff9f7;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.navbar-nav {
	display: block;
}

.confirm-heading {
	text-align: center;
	
}

.ta-images {
	border-radius: 100%;
}

.button-confirm {
	margin-left: 40%;
	width: 20%;
}

.form-control {
	width: 56%;
}

.form-group {
	margin-left: 30%;
}

.note-text-box {
	height: 150px;
}

.button-confirm {
	margin-left: 40%;
}

